@use '../../../scss/colors' as *;
@use '../../../scss/sizes' as *;

.Question {
	display: grid;

	grid-template-columns: 1fr auto;

	border: 1px solid black;
	border-top: none;
	padding: 0.25rem;
	&:first-of-type {
		border-top: 1px solid black;
	}
	@include for-tablet-landscape-up {
		padding: 0.5rem;
	}
	@include for-desktop-up {
		padding: 0.75rem;
	}
}
.ControlButtons {
	display: flex;
	gap: 1rem;
	flex-direction: row;
	padding-left: 3rem;
	opacity: 0;
	transition: opacity 0.3s linear;
}
.ControlButtons:hover {
	opacity: 1;
	transition: opacity 0.3s linear;
}
.Color,
.DeleteQuestion {
	--icon-size: 1.5rem;
	@include for-tablet-landscape-up {
		--icon-size: 2rem;
	}
	@include for-desktop-up {
		--icon-size: 2.5rem;
	}
}

.Color {
	display: inline-block;
	height: var(--icon-size);
	width: var(--icon-size);
	border: 2px solid black;
	border-radius: 50%;
}
.DeleteQuestion {
	font-size: var(--icon-size);
}

.ColorGreen {
	background-color: $accent-green;
}
.ColorOrange {
	background-color: $accent-orange;
}
.ColorRed {
	background-color: $accent-red;
}
