@use '../../../scss/colors.scss' as *;
@use '../../../scss/sizes.scss' as *;
.navbar {
	padding: 0 3rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 400;
	width: 100%;
	display: flex;
	background-color: $color-primary;
	height: $navbar-height;
	align-items: center;
}

.container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navigationWrapper {
	width: 100%;

	background-color: $color-primary;
}
.menuList {
	list-style: none;
	color: inherit;
	margin: 0;
	padding: 0;
}
.menuButton {
	background-color: transparent;
	border: none;
	font-size: 1.5rem;
	text-transform: uppercase;
}

.menuButton:focus {
	outline: 2px dotted $color-secondary;
}
