@import '../../../scss/sizes.scss';
.Modal {
	position: fixed;
	z-index: 500;
	background-color: white;
	padding: 0 16px;
	border: 1px solid #000;
	border-radius: 40px;
	inset: 5% 1rem;

	transition: all 0.5s ease-out;

	@include for-tablet-landscape-up {
		inset: 5% 12.5%;
		padding: 32px 72px;
	}

	@include for-big-desktop-up {
		inset: 15% 25%;
		padding: 32px 72px;
	}
}
