@import '../../../scss/sizes.scss';
.Modal {
	position: fixed;
	z-index: 500;
	background-color: white;
	padding: 0 1rem;
	border: 1px solid #000;
	border-radius: 2.5rem;
	inset: 5% 1rem;

	transition: all 0.5s ease-out;

	@include for-tablet-landscape-up {
		inset: 5% 12.5%;
		padding: 2rem 4rem;
	}

	@include for-big-desktop-up {
		inset: 10% 30%;
	}
}
