@use '../../../scss/colors.scss' as *;
@use '../../../scss/sizes.scss' as *;

.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	width: 100%;
	height: $footer-height;
	padding-right: 8rem;
	text-align: end;
	background-color: $color-secondary;
}
